@model NoteViewModel

@{
    ViewBag.Title = "Add Note Info";
    ViewBag.SubHeader = "Add Note Information";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add">
    <input type="hidden" asp-for="PageNumber" />

    <div class="form-group">
        <label asp-for="Note.DestinationId">Title</label>
        <a asp-action="Index" asp-controller="Manage" class="ml-4">Manage destinations</a>
        <select asp-for="Note.DestinationId" class="form-control"
                asp-items="@(new SelectList(Model.Destinations, "DestinationId", "Name"))">
            <option value="0"></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Note.AccommodationId">Category</label>
        <a asp-action="Index" asp-controller="Manage" class="ml-4">Manage accommodations</a>
        <select asp-for="Note.AccommodationId" class="form-control"
                asp-items="@(new SelectList(Model.Accommodations, "AccommodationId", "Name"))">
            <option value="0"></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Note.StartDate">To be Removed (start)</label>
        <input type="text" asp-for="Note.StartDate" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Note.EndDate">Due Date (end)</label>
        <input type="text" asp-for="Note.EndDate" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>

