@model NoteViewModel

@{
    ViewBag.Title = "Add Note Info";
    ViewBag.SubHeader = "Add Note Information";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add">
    <input type="hidden" asp-for="PageNumber" />

    <div class="form-group">
        <label asp-for="Note.CategoryId">Title</label>
        <a asp-action="Index" asp-controller="Manage" class="ml-4">Manage Categories</a>
        <select asp-for="Note.CategoryId" class="form-control"
                asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))">
            <option value="0"></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Note.TitleName">Title</label>
        <input type="text" asp-for="Titles" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Note.Description">Description</label>
        <input type="text" asp-for="Titles" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Note.DueDate">Due Date</label>
        <input type="text" asp-for="Titles" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>

