@model NoteViewModel

@{
    ViewBag.Title = "Add Note Info Part 2";
    ViewBag.SubHeader = $"Confirm the Creation of {Model.CategoryName}"; //could be changed later
}

<form asp-action="Add">
    <input type="hidden" asp-for="PageNumber" />

    <div>Click Enter To Finish Entering Your Note</div>

    <div>
        <button type="submit" class="btn btn-dark">Enter</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>
