@{
    ViewBag.Title = "Confirm action";
}

<div class="list-group">
    <a asp-action="Index" asp-controller="Manage" class="list-group-item">
        Back to Manage page
    </a>
    <a asp-action="Add" asp-controller="Note" class="list-group-item">
        Go to Add Note page
    </a>
    <a asp-action="Index" asp-controller="Home" class="list-group-item">
        Go to Home page
    </a>
</div>