@model ManageViewModel

@{
    ViewBag.Title = "Manage Categories";
    ViewBag.SubHeader = ViewBag.Title;
}

<div class="row">
    @* add column *@
    <div class="col">
        <fieldset class="form-group">
            <legend>Add</legend>

            <form asp-action="Add" method="post">

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="form-group">
                            <label asp-for="Category.Name">Category</label>
                            <input asp-for="Category.Name" class="form-control" />
                        </div>
                    </li>
                </ul>

                <button type="submit" class="btn btn-primary mt-2">Add</button>
            </form>

        </fieldset>
    </div>

    @* delete column *@
<div class="col">
    <fieldset class="form-group">
        <legend>Delete</legend>

        <form asp-action="Delete" method="post">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        <label asp-for="Category.CategoryId">Category</label>
                        <select asp-for="Category.CategoryId" class="form-control"
                                asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))">
                            <option></option>
                        </select>
                    </div>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary mt-2">Delete</button>
        </form>

    </fieldset>
</div>
</div>